* {
    padding: 0px;
    margin: 0px;
}

sup {
    position: relative;
    font-size: 60%;
    line-height: 0;
    vertical-align: baseline;
    top: 0.2em;
}

html {
    height: 100%;
    margin: 0;
    font-size: 14px;
    line-height: 1;
}

body {
    height: 100%;
    margin: 0;
    color: #000;
    font-family: roboto;
    font-size: 1rem;
    border: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}


/*THE HEADER \/ */

.navbar {
    display: flex;
    overflow: hidden;
    background-color: black;
    font-family: Arial;
    margin: 0px;
    width: 100%;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    margin: 19px 0px 0px 0px;
    float: left;
    overflow: hidden;
    font-size: 10px;
    z-index: 1;
}

.dropdown .dropbtn {
    font-size: 15px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 12px;
    background-color: inherit;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: lightgray;
}

.dropdown:hover {
    display: block;
}


/*THE MAIN IMAGE \/ */

.button {
    display: flex;
    text-decoration: none;
    color: black;
    padding: 0px;
    align-items: center;
}

.hero-image {
    display: flex;
    justify-content: flex-end;
    background-image: url("Jeep2.jpg");
    height: auto;
    width: 100%;
    margin: 0px auto;
    background-position: center;
    background-size: cover;
    align-items: center;
}

.hero-text {
    color: white;
    font-family: Arial;
    width: 200px;
    margin: 60px;
}

.hero-text button {
    display: flex;
    align-items: center;
    border: none;
    padding: 5px 10px;
    color: black;
    background-color: #FEB92C;
    cursor: pointer;
    margin-bottom: 5px;
}

.hero-text-1 button {
    display: flex;
    align-items: center;
    border: none;
    padding: 5px 10px;
    color: white;
    background-color: #636363;
    cursor: pointer;
    margin-bottom: 5px;
}

.hero-text button:hover {
    display: flex;
    align-items: center;
    background-color: #FEB92C;
}

.hero-text-1 button:hover {
    display: flex;
    align-items: center;
    background-color: #636363;
}


/*THE FOUR IMAGES \/ */

.bg-images1-4 {
    display: flex;
    background-color: lightgray;
    width: 100%;
    height: 100%;
}

.images1-4 {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    width: 296px;
    height: 218px;
    margin: 21px 9.5px 0px 9.5px;
    flex-shrink: 1;
    border: none;
}

.bottom-images1-4 {
    display: flex;
    align-self: baseline;
    width: 296px;
    height: 28px;
    margin-bottom: 21px;
}

.bottom-images2-4 {
    display: flex;
    align-self: baseline;
    z-index: 1;
    width: 296px;
    height: 28px;
    margin-bottom: 20px;
}


/*THE GALLERY \/ */
.wrap {
    display: flex;
    flex-wrap: wrap;
}

.main-content-2 {
    flex: 5;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: Arial;
    height: auto;
}

.cards {
    display: flex;
    flex: 1;
    flex-basis: 100px;
    height: 230px;
    flex-wrap: wrap;
    flex-direction: row;
}

.VEHICELS {
    justify-content: center;
    align-items: center;
    height: 145px;
    width: 299px;
}

.MSRP {
    color: gray;
    font-family: Arial;
    font-size: 9px;
    margin-right: .07143rem;
}

.price {
    color: black;
    font-family: Arial;
    font-size: 1rem;
    width: 200px;
    margin-right: .07143rem;
    margin-bottom: 40px;
}

.under1-4 {
    width: 100%;
    background-color: white;
}

.jumbotron {
    display: flex;
    border: white;
    background-color: white;
    margin: 30px 0px 5px 0px;
    padding: 20px 0px 40px 0px;
    flex-basis: 1300px;
    justify-content: center;
}


/*UNDER THE GALLERY \/ */

.bg {
    width: 100%;
    height: 233px;
    background-color: lightgray;
}

.style-text {
    font-size: 30px;
    color: #333333;
    font-family: Arial;
    width: 1000px;
    margin-right: 40px;
    padding-top: 20px;
}

.style-link {
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: none;
}

.fourth {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1160px;
    margin-left: 45px;
}


.text {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 0px;
    font-family: sans-serif;
    color: #333333
}


/*THE PAGE ABOVE THE SEARCH BAR \/ */

.Tab {
    display: flex;
    flex-direction: row;
}

.Tab:hover {
    color: white;
}

.img2 {
    width: 100px;
    height: 35px;
}

.Text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    float: left;
}

.search {
    width: 200px;
    padding: 7px;
    border: 1px solid gray;
    border-radius: 0px;
    height: 28px;
}

.submit p {

    margin: 0px;
}

.submit {
    padding: 7px;
    background: #FDB92C;
    border: 1px solid #FDB92C;
    color: black;
    font-weight: bold;
    margin-left: -7px;
    cursor: pointer;
    border-radius: 0px;
    width: 100px;
    height: 43px;
}

.submit:hover {
    background: #FDB92C;
    transition: all 0.40s;
    border-radius: 6px;
}

.search-bar-section {
    display: flex;
    justify-content: flex-end;
    align-items:center;
    background-color: #212121;
    width: 100%;
    height: 110px;
}

.direction {
    display: flex;
    align-items: flex-end;
}


/*Footer \/ */

.space {
    padding: 100px 40px 40px 25px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    width: 100%;
    height: 100%;
    text-decoration-line: none;
}

h5 {
    font-weight: bolder;
    font-family: Ariel, sans-serif;
    font-size: inherit;
    line-height: inherit;
    color: white;
    padding-bottom: 20px;
}

.list {
    display: flex;
    flex-direction: column;
    color: #bfbfbf;
    font-family: Ariel, sans-serif;
    font-weight: thin;
    text-decoration: none; 
    padding: 50px;
    margin: 0px 20px 20px 60px;
}

.list: hover {
    color: lightgray;
    cursor: pointer;
}


@media screen and (min-width: 400px;
) {
    .container {
        display: block;
    }
}