* {
    padding: 0px;
    margin: 0px;
}
/*THE HEADER*/
.Header {
    background-color: black;
    float: left;
}

sup {
    position: relative;
    font-size: 60%;
    line-height: 0;
    vertical-align: baseline;
    top: 0.2em;
}

.title {
    color: white;
    font-family: Arial;
}

.img {
    width: 90px;
    margin: 6.5px 0px 6.5px 0px;
    padding-top: 0.5px;
}

.navbar {
    display: flex;
    overflow: hidden;
    background-color: black;
    font-family: Arial;
    margin: 0px;
    width: 100%;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    margin: 19px 0px 0px 0px;
    float: left;
    overflow: hidden;
    font-size: 10px;
    z-index: 1;
}

.WHY! {
    width: 30px;
    height: 10px;
} 

.button {
    display:flex;
    text-decoration: none;
    color: black;
    padding: 5px;
    align-items: center;
}

.dropdown2 {
    display: flex;
    align-items: flex-end;
    margin: 19px 0px 0px 0px;
    float: left;
    overflow: hidden;
    font-size: 10px;
    z-index: 1;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: lightgray;
}

.dropdown:hover {
    display: block;
}
/*THE MAIN IMAGE*/
body, html {
    height: 100%;
    margin: 0;
}

.main-image {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50.5%;
}

.hero-image {
  display:flex;
  justify-content: flex-end;
  background-image: url("Jeep2.jpg");
  height: auto;
  margin: 0px auto;
  background-position: center;
  background-size: cover;
  align-items:center; 
}

.hero-text {
  color: white;
  font-family: Arial;
  width: 200px;
  margin: 60px;
}

.hero-text button {
  display:flex;
  align-items: center;
  border: none;
  padding: 5px 10px;
  color: black;
  background-color: #FEB92C ;
  cursor: pointer;
  margin-bottom:5px;
  
}
.hero-text-1 button {
  display:flex;
  align-items: center;
  border: none;
  padding: 5px 10px;
  color: white;
  background-color: #636363 ;
  cursor: pointer;
  margin-bottom:5px;
  
}

.hero-text button:hover {
  display:flex;
  align-items: center;
  background-color: #FEB92C ;
}
.hero-text-1 button:hover {
  display: flex;
  align-items: center;
  background-color: #636363 ;
}

.item1 {
    display: flex;
    width: 50%;
    height: 50%;
}
/*THE FOUR IMAGES UNDER THE MAIN IMAGE*/
.bg-images1-4 {
    display: flex;
    background-color: lightgray;
}

.bg-bg-images1-4 {
   background-color: black;
   justify-content: center;
}

.images1-4 {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    width: 296px;
    height: 218px;
    margin: 21px 9.5px 0px 9.5px;
    flex-shrink: 1;
    border: none;
}

.bottom-images1-4 {
    display: flex;
    align-self: baseline;
    z-index: 1;
    width: 296px;
    height: 28px;
    margin-left: 20px;
    margin-bottom: 21px;
}

.bottom-images2-4 {
    display: flex;
    align-self: baseline;
    z-index: 1;
    width: 296px;
    height: 28px;
    margin-left: 9px;
    margin-bottom: 20px;
}

.container {
    display: flex;
}
/*UNDER THE FOUR IMAGES*/
.under1-4 {
    width: 100%;
    height: 563px;
    background-color: white;

}

.main-content-2 {
    flex: 5;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: Arial;
    height: auto;
}

.jumbotron {
    display: flex;
    border: white;
    background-color: white;
    margin: 30px 0px 5px 0px;
    padding: 20px 0px 40px 0px;
    flex-basis: 1300px;
    justify-content: center;
}

.jeep-logo {
    justify-content: center;
    align-items: center;
    flex-shrink: 2;
    font-family: Arial;
}

.cards {
    display: flex;
    flex: 1;
    flex-basis: 100px;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: row;
}

.bg-images1-4 {
    display: flex;
    background-color: lightgray;
}

.bg-bg-images1-4 {
   background-color: black;
   justify-content: center;
}

.images1-4 {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    width: 296px;
    height: 218px;
    margin: 21px 9.5px 0px 9.5px;
    flex-shrink: 1;
    border: none;
}

.bottom-images1-4 {
    display: flex;
    align-self: baseline;
    z-index: 1;
    width: 296px;
    height: 28px;
    margin-left: 20px;
    margin-bottom: 21px;
}
.bottom-images2-4 {
    display: flex;
    align-self: baseline;
    z-index: 1;
    width: 296px;
    height: 28px;
    margin-left: 9px;
    margin-bottom: 20px;
}

.VEHICELS {
    justify-content: center;
    align-items: center;
    height: 145px;
    width: 299px;
}

.MSRP {
    color: gray ;
    font-family: Arial;
    font-size: 10px;
    font-weight: 700;
    margin-right: .07143rem;
}

.price {
    color: black;
    font-family: Arial;
    font-size: 1rem;
    font-weight: 700;
    margin-right: .07143rem;
    margin-bottom: 40px;
}